@tailwind base;
@tailwind components;
@tailwind utilities;

#main-body{
   background-color: #0e0e0e;
}

.title {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.handjet-font {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}

#nav-section {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/072/044/267/large/xebelion-40.jpg?1706522573');
    border: solid 0.5px #373d3d;

}

#main-section {
    background-image: url(image.webp);
    border: solid 0.5px #373d3d;
    background-blend-mode: luminosity;
}


.border-custom {
    border: solid 0.5px #373d3d;
}


#footer-section {
    background-image: url('https://images.unsplash.com/photo-1687851898832-650714860119?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}